.agent-section {
    margin-top: 60px;
    background-image: url("../../../assets/contact-home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    align-items: center;
    display: flex;
}
.mob {
    bottom: 0;
    right: 0px;
    width: 282px;
}

.site_btn {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
    padding: 12px 22px;
    transition: all 0.5s;
    font-weight: 600;
    width: 100%;
    border-radius: 8px;
}
.site_btn:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: #fff;
}
.error_message {
    margin-bottom: 0;
    font-size: 13px;
    color: red;
    font-weight: 500;
}
.input_box {
    position: relative;
    margin-top: 21px;
    height: 49px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.input_box input {
    position: absolute;
    border: none;
    outline: none;
    padding: 13px 13px 13px 41px;
    color: gray;
    width: 100%;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.input_box input:focus {
    box-shadow: rgb(2 134 183 / 88%) 0px 1px 4px;
}
.input_box i {
    color: var(--primary-color);
    font-size: 20px;
    left: 12px;
    position: absolute;
    top: 15px;
}
.contact_right {
    width: 50%;
    margin-left: 50px;
}
.contact_right_img img {
    width: 30px;
}
.contact_right_heading {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 8px;
}

@media only screen and (max-width: 600px) {
    .agent-section {
        margin-top: 40px;
        padding: 40px 0px;
    }
}