.logo {
  width: 190px;
}
.navbar {
  padding: 20px 0 !important;
  background-color: #fff !important;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.navbar_nav {
  margin-left: auto !important;
  width: 605px;
  justify-content: space-between;
}
.navbar-collapse {
    justify-content: flex-end;
}
.nav_link {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: var(--heading) !important;
  transition: 0.3s all ease-in-out;
}
.nav_link:hover {
  color: var(--primary-color) !important;
}
.call_now_btn {
  border: 1px solid var(--primary-color);
  padding: 8px 14px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
  transition: 0.3s all ease-in-out;
  background-color: #fff;
}
.nav_mob {
  padding-top: 8px;
}
.call_now_nav {
  color: #0286b7;
  text-decoration: none;
  font-weight: 600;
}
.call_now_btn:hover {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .logo {
    width: 72px;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
  }
  .banner_slider {
    margin-top: 63px;
  }
  .nav_link {
    font-size: 13px !important;
  }
  .call_now_btn_box {
    display: none;
  }
}
